.videos {
  text-align: center;
  font-size: 2rem;
  background: #fff;
  padding: 50px;
  margin-bottom: 4rem;
}
.videos__container {
  margin-bottom: 150px;
  /* padding: 50px; */
}
/* .videos__singleVideo{
    width: 100vw;
    height: 100%;
} */
@media (max-width: 425px) {
  .videos {
    display: none;
  }
}
